.container {
  align-items: start;
  display: grid;
  margin: 0;
  padding: 20px;
}

.header {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  grid-area: header;
  margin-bottom: 60px;
}

.header__heading {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.92px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 95px;
}

.footer {
  align-self: end;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  grid-area: footer;
  text-align: center;
}

.footer__copy {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
